.races {
    background-color: var(--secondary-color);
    width: auto;
    border-radius: 1.5rem;
    margin-left: 5%;
    margin-right: 5%; 
    min-height: 30vh;
    margin-top: -2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.races__title {
    font-size: 1.8rem;
    width: 45vh;
}

.races__info {
    width: 45vh;
    min-height: 25vh;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.races__shift-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.races__date-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .races {
        min-height: 30vh;
    }

    .races__title {
        font-size: 1.6rem;
    }

    .races__info {
        font-size: 1rem;
        width: 40vh;
    }
}

@media (max-width: 1024px) {
    .races {        
        flex-direction: column;
        min-height: 40vh;
    }

    .races__title {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .races {
        min-height: 40vh;
    }

    .races__title {
        text-align: center;
    }
}