.combobox {
    background-color: var(--dark-secondary-color);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.combobox__title {   
    border-bottom: 1px solid var(--gray-color);
    padding: 1rem;
    font-size: 1.4rem;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    gap: 2rem;       
}

.combobox__title:hover {
    cursor: pointer;
    opacity: 0.7;
}

.combobox__answer {
    padding: 2rem 1rem 2rem 1rem;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 300; 

    animation: fadeIn 0.5s ease 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title__arrow img {
    transition: transform 0.5s ease;
  }

.combobox__title.active .title__arrow img {
    transform: rotate(180deg);
}

@media (max-width: 1024px) {
    .combobox__title {   
        font-size: 1.2rem;        
    }

    .combobox__answer {
        padding: 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .combobox__title {   
        font-size: 1rem;
        padding: 0.7rem;        
    }

    .combobox__answer {
        padding: 1rem;
        font-size: 0.8rem;
    }
}