@import url("../../../styles/variables.css");

.routine {
    background-color: var(--secondary-color);
    border-radius: 2rem;
    margin-left: 8.75rem;
    margin-right: 8.75rem; 
    height: 18rem;
    margin-top: -5rem;
}

.routine_content {
    height: 18rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.routine_title {
    font-size: 1.8rem;
    width: 22rem;
}

.routine_info {
    font-size: 1.2rem;
}