@import url("../../../styles/variables.css");

.routine {
    height: 20vh;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 5%;
    background-image: url("../../../assets/images/Line2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routine-content {
    height: 12vh;
    width: 60%;
    background-color: var(--secondary-color);
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.routine__title {
    font-size: 1.8rem;
}

.file__label {
    font-size: 1.2rem;
}

.routine__file {
    width: 20vh;
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.routine__file:hover {
    cursor: pointer;
    opacity: 0.7;    
}

@media (max-width: 1440px) {
    .routine-content {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .routine-content {
        width: 80%;
    }

}

@media (max-width: 1024px) {
    .routine-content {
        width: 100%;
    }

    .routine__title {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {   
    .routine-content {
        height: 13vh;
        width: 90%;
        flex-direction: column;
    }
}

@media (max-width: 576px) {  
    .routine-content {
        width: 100%;
    }

    .routine__title {
        font-size: 1.4rem;
    }
}