.tentcamp {
    height: 70vh;
    padding-left: 7%;
    padding-right: 7%;
/* 
    border: 2px solid red; */
}

.tentcamp__content {
    width: 100%;
    height: 100%;
    display: flex;
/* 
    border: 2px solid blue; */
}

.tentcamp__title-wrapper {
    height: 100%;
    width: 30%;
    color: var(--black-color);
    display: flex;
    align-items: flex-start;
/* 
    border: 2px solid brown; */
}

.tentcamp__title {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7%;
/* 
    border: 2px solid yellow; */
}

.tentcamp__title__text {
    font-size: 2.4rem;
}

.tentcamp__title__info {
    font-size: 1.2rem;
    text-align: justify;
}

.tentcamp__title__button {
    width: 15rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
}

.tentcamp__title__button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button__text {
    font-size: 1.2rem;
}

.tentcamp__images {
    /* border: 2px solid goldenrod; */

    width: 70%;
    height: 100%;
    display: flex;
}

.tentcamp__sign-wrapper {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
/* 
    border: 2px solid brown; */
}

.tentcamp__sign {
    height: 23vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
/* 
    border: 2px solid yellow; */
}

.tentcamp__tent-wrapper {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
/* 
    border: 2px solid brown; */
}

.tentcamp__tent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
/* 
    border: 2px solid yellow; */
}

.tent__image-wrapper {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
/* 
    border: 2px solid red; */
}

.bag__image-wrapper {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
/* 
    border: 2px solid red; */
}

.tentcamp__curved {
    position: relative;
    top: -6%;
    left: -9%;
}

@media (max-width: 1440px) {
    .tentcamp {
        height: 70vh;
    }   

    .tentcamp__content {
        flex-direction: column;
        align-items: center;
    }

    .tentcamp__title-wrapper {
        height: 40%;
        width: 100%;        
    }

    .tentcamp__title {
        height: 100%;
        align-items: center;
    }

    .tentcamp__title__text {
        text-align: center;
    }

    .tentcamp__title__info  {      
        text-align: center;
    }

    .tentcamp__images {
        height: 60%;
        width: 100%;
    }

    .bag__image-wrapper {
        padding-bottom: 2%;
    }
}

@media (max-width: 1200px) {
    .tentcamp__curved {
        top: -6%;
    }
}

@media (max-width: 1024px) {
    .tentcamp__title-wrapper {
        height: 50%;        
    }

    .tentcamp__images {
        width: 100%;
        height: 50%;
    }

    .tentcamp__sign {
        height: 18vh;        
    }

    .tent__image-wrapper {
        width: 60%;
    }
    
    .bag__image-wrapper {
        width: 40%;
        padding-bottom: 0;
    }

    .image__sign {
        width: 20vh;
        height: auto;
    }

    .image__tent {
        width: 20vh;
        height: auto;
    }

    .image__bag {
        width: 15vh;
        height: auto;
    }

    .tentcamp__curved {
        left: -10%;
    }     
}

@media (max-width: 768px) {   
}

@media (max-width: 576px) {  
    .tentcamp__title-wrapper {
        height: 60%;        
    }

    .tentcamp__images {
        height: 40%;
    }

    .tentcamp__sign {
        height: 13vh;        
    }

    .tent__image-wrapper {
        padding-bottom: 1%;
    }

    .image__sign {
        width: 15vh;
    }

    .image__tent {
        width: 15vh;
    }

    .image__bag {
        width: 10vh;
    }    
}


