.questions {
    position: relative;
    height: auto;
    background-color: var(--secondary-color);
    padding: 2% 7% 2% 7%;
}

.questions__title {
    margin-bottom: 2rem;
    font-size: 2.4rem;
}

.questions__combobox {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}