.place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    text-align: center;
}

.place__img {
    margin-bottom: 1rem;
}

.place__label {
    font-size: 1.6rem;
}